.wrapper {
    width: 100%;
    height: var(--heigh-header);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(0 0 0 / 16%);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    .logo {
        cursor: pointer;
        height: auto;
    }
    .search {
        height: 46px;
        width: 400px;
        background-color: rgba(22, 24, 35, 0.06);
        border-radius: 92px;
        padding-left: 16px;
        display: flex;
        border: 1.5px solid transparent;
        &:focus-within {
            border-color: rgba(22, 24, 35, 0.2);
        }
    }
    .search input {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        width: 84%;
        padding-left: 4px;
        background: transparent;
    }
    .btn-search {
        position: relative;
        color: rgb(96, 95, 95);
        cursor: pointer;
        width: 16%;
        transition: 0.3s ease;
        border-top-right-radius: 92px;
        border-bottom-right-radius: 92px;
        &:hover {
            background-color: #bbb8b8;
            color: #fff;
        }
        &::before {
            position: absolute;
            top: 8px;
            bottom: 8px;
            left: 0;
            content: '';
            width: 1px;
            background-color: #bbb8b8;
        }
        .icon-search {
            font-size: 20px;
        }
    }
    .nav-header {
        display: block !important;
    }
    .action-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        .icon {
            font-size: 25px;
            cursor: pointer;
            color: rgb(75, 74, 74);
        }
        .avatar-user {
            width: 40px;
            height: 40px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            border: solid 1px #ccc;
        }
    }
}
.cart {
    position: relative;
    span {
        position: absolute;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--primary);
        color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: -2px;
        right: -7px;
    }
}
.wapper-search {
    width: 400px;
    .result-search {
        min-height: 200px;
        .loading {
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.text-seach {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    span {
        color: var(--primary);
    }
    &:hover {
        background: #fcfcfc;
    }
}
.heading {
    padding-left: 10px;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
}
.nav-header {
    display: flex;
    .nav-item {
        font-size: 18px;
        text-decoration: none;
        color: #000;
        margin: 0 20px;
        font-weight: 600;
        transition: 0.3s;
        &:hover {
            color: var(--primary);
        }
    }
}
.active {
    color: var(--primary) !important;
}

// reponsive

@media (max-width: 767px) {
    .wrapper {
        .logo {
            img {
                width: 100px;
            }
        }
        .search {
            display: none;
        }
        .action-header {
            display: none;
        }
        .nav-mobile {
            background: #fff;
        }
    }
    .nav-header {
        .nav-item {
            font-size: 14px;
        }
    }
}
