.wrapper {
    .video {
        height: 800px;
    }

    .collection {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: var(--text-corlor);
        margin: 40px 0 20px 0;
    }
}

.background-image {
    height: 80%;
    width: 100%;
    background-image: url('https://happyhow.me/1428355432291766272/d/images/polo-premium-bg-2.jpg');
    opacity: 0.2;
    object-fit: cover;
}
.content-image {
    width: 100%;
    display: flex;
    margin: 50px 0;
    .new-image {
        width: 657px;
        height: 900px;
        object-fit: cover;
    }
    .show-product {
        flex: 1;
        height: 900px;
        padding: 50px 20px;
        background-color: #fff;
        .text-product {
            text-align: center;
        }
    }
}
.heading-slider {
    text-align: center;
    margin: 30px 0 10px 0;
}
.content_slider {
    width: 100%;
    padding: 0 100px;
    .container_slider {
        .slider-item {
            padding: 0 10px;
        }
        .image-slider {
            height: 600px;
            width: 1030px;
            object-fit: cover;
        }
    }
}
