.baner {
    padding: 50px 100px;
    padding-bottom: 0;
    .baner-sub {
        text-align: center;
    }
    .anh1 {
        max-width: 100%;
    }
}
.baner-wrapper {
    padding: 0 20px;
    .baner-heading {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
.baner-wrapper p {
    font-size: 14px;
}
.product-list {
    margin-top: 10px;
    padding: 0 100px;
}

.new-product {
    margin-top: 100px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 100px;
}
.slider-image {
    width: 200px;
    height: 400px;
}
