.product {
    height: 460px;
    margin: 20px 5px;
    position: relative;
    border: solid 0.5px var(--primary);
    transition: 0.5s ease;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 8px #888888;
        transform: scale(1.03);
    }
    .product-image {
        width: 100%;
        height: 360px;
        &:hover {
            opacity: 0.8;
        }
    }
    .product-name {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-size: 16px;
        color: var(--text-corlor);
        font-weight: 600;
        margin-bottom: 14px;
        padding: 0 10px;
        margin-top: 20px;
    }
    .product-price {
        font-size: 12px;
        margin-right: 20px;
    }
}
.group-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    color: #888;
    .action_icon {
        font-size: 25px;
        transition: 0.3s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
    .icon_heart:hover {
        color: red;
    }
    .icon_shop:hover {
        color: var(--primary);
    }
}
.group-price {
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: fit-content;
}
.sale {
    font-size: 10px;
    position: relative;
}
.sale::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background-color: var(--primary);
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.ticker {
    position: absolute;
    min-width: 70px;
    top: 10px;
    right: -10px;
    color: #fff;
    padding: 4px 6px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    &::before {
        position: absolute;
        content: '';
        top: 0px;
        bottom: 0;
        left: -9px;
        border-width: 13px 0px 13px 12px;
        border-style: solid;
    }
    &::after {
        position: absolute;
        content: '';
        bottom: -9px;
        border-top: solid 10px #2e0603e1;
        right: 0;
        border-right: solid 10px transparent;
    }
}
.ticker_popular {
    background: #7f19e4;
    &::before {
        border-color: #7f19e4 transparent #7f19e4 transparent;
    }
}
.ticker_new {
    background: orange;
    &::before {
        border-color: orange transparent orange transparent;
    }
}
