.input-value {
    border: solid 1px #ccc;
    border-radius: 10px;
    text-align: center;
    width: 40%;
}
.name-product {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price-product {
    font-size: 16px;
    span {
        color: var(--primary);
    }
}
.group-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-product {
    width: 100%;
    border-radius: 10px;
    border: solid 1px var(--primary);
}
.detail-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
